/* import font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
/* css  */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-color);
  font-family: "Noto Sans Arabic", sans-serif;
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p,a,span,li,ul,ol,button,input,textarea {
  font-family: inherit;
}

/* variables */
:root {
  /* dark mode */
  
  --primary-color: #1F1D18;
  --bg-color:#2d2b23;
  --PimaryCard-bg:#474336;
  --secondaryCard-bg:#eee5c4;
  --text-color:white;
}

/* light mode */
body.light {
  --primary-color: #ffffff;
  --bg-color: #f0f0f0;
  --primaryCard-bg: #ffffff;
  --secondaryCard-bg: #cccccc;
  --text-color: black;
}



/* Animation */
@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

@keyframes show{
  0% {
    opacity: 0;
    visibility: hidden;
    right: -100%;
  }
  100% {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
}

@keyframes offShow{
  0% {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    right: -100%;
  }}

  @keyframes shoWToast{
    0% {
      opacity: 0;
      visibility: hidden;
      right: -100%;
    }
    80% {
      opacity: 1;
      visibility: visible;
      right: 40px;
    }
    100% {
      opacity: 1;
      visibility: visible;
      right: 20px;
    }
  }

